/*  
    Copyright 2023 HolyCorn Software
    The eHealthi Project.
    This stylesheet works on the coming-soon widget.
*/


.hc-ehealthi-coming-soon>.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    font-size: clamp(1em, 3em, 8vw);
    background-color: var(--theme-color);
    align-items: center;
    font-family: jua;
    text-align: center;
    color: var(--main-bg-color);
    text-decoration: none;
}

.hc-ehealthi-coming-soon>.container>.title {
    filter: invert(1) brightness(1.75);
    font-family: k2d;
}

.hc-ehealthi-coming-soon>.container>.image {
    width: clamp(300px, 100vw - 3em, 1000px);
}