[submodule "system"]
	path = system
	url = https://github.com/HolyCorn-Software/system.git
[submodule "faculty/modernuser"]
	path = faculty/modernuser
	url = https://github.com/HolyCorn-Software/modernuser
[submodule "faculty/engTerminal"]
	path = faculty/engTerminal
	url = https://github.com/HolyCorn-Software/engTerminal
[submodule "faculty/backend_dashboard"]
	path = faculty/backend_dashboard
	url = https://github.com/HolyCorn-Software/backend_dashboard
[submodule "faculty/uniqueFileUpload"]
	path = faculty/uniqueFileUpload
	url = https://github.com/HolyCorn-Software/uniqueFileUpload
[submodule "faculty/finance"]
	path = faculty/finance
	url = https://github.com/HolyCorn-Software/finance
[submodule "faculty/chat"]
	path = faculty/chat
	url = https://github.com/HolyCorn-Software/chat