/*  
    Copyright 2024 HolyCorn Software
    The eHealthi Project
    This stylesheet defines the view of the pending section of the app-commerce-service-provider-view/transaction-management.
    In this section, the service provider manages transactions that are current.
*/


.hc-ehealthi-app-commerce-service-provider-view-transactions-pending>.container {
    display: flex;
    flex-direction: column;
}

.hc-ehealthi-app-commerce-service-provider-view-transactions-pending>.container>.listings {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 0.5em;
}

.hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container {
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0px 0px 0.65em #c0cdd9;
    padding: 0.75em;
    border-radius: 0.75em;
    background-color: white;
    width: clamp(250px, 450px, 100% - 1.5em);
}

.hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main {
    display: flex;
    gap: 1.5em;
    align-items: center;
    position: relative;
    width: 100%;
    --icon-width: clamp(4em, 9em, 25vw);
}


.hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.icon {
    width: var(--icon-width);
    height: calc(var(--icon-width) * 1.7);
    min-height: var(--min-height);
    border-radius: 1em;
    box-shadow: 0px 0px 0.5em lightgrey;
}

.hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    max-width: calc(100% - var(--icon-width) - 1em);
    position: relative;
    --data-color: #078fd3;
}

.hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details>.label {
    font-weight: 600;
    font-size: 1.5em;
}

.hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details>.label,
.hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details>.summary>:is(.commodities, .doctor-info),
.hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details>.transaction-id,
.hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details>.transaction-id>.content {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details>.transaction-id {
    display: inline-block;
    position: relative;
}

.hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details>.transaction-id>* {
    display: inline;
}

.hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details>.transaction-id>.content {
    max-width: calc(100% - 19ex - 0.5em);
    padding: 0.35em;
    border-radius: 0.75em;
    background-color: rgb(223, 234, 241);
    display: inline-flex;
    font-size: 0.85em;
}

.hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details data {
    color: var(--data-color);
}

.hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details>.summary {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details>.summary>.doctor-info {
    display: inline-flex;
    align-items: center;
    gap: 0.75em;
}

.hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details>.summary>.doctor-info>.content {
    padding: 0.5em;
    border-radius: 1em;
    background-color: #f5f5f5;
}

.hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details>.summary>.doctor-info>.content>.hc-hcts-modernuser-inline-profile>.container>.main {
    gap: 0.5em;
    color: var(--data-color);
    flex-direction: row-reverse;
}

.hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details>.summary>.doctor-info>.content>.hc-hcts-modernuser-inline-profile>.container>.main>.icon {
    width: 2em;
    height: 2em;
}


.hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details>.actions {
    display: flex;
    padding-top: 0.75em;
    flex-direction: column;
    gap: 0.5em;
}

.hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details>.actions>* {
    display: flex;
}

.hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details>.actions>*>.container {
    border-radius: 0.75em;
}


@media screen and (max-width: 450px) {

    .hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container {
        font-size: clamp(0.5em, 1em, 3.5vw);
    }

    .hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details>.transaction-id {
        display: inline-flex;
        flex-direction: column;
    }

    .hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details>.transaction-id>.content {
        max-width: calc(100% - 1em);
    }

    .hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details>.summary>* {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .hc-ehealthi-app-commerce-service-provider-view-transactions-pending-item>.container>.main>.details>.summary>.doctor-info {
        align-items: flex-start;
    }
}