/*  
    Copyright 2023 HolyCorn Software
    The eHealthi Project.
    This stylesheet gives the look, and feel, of the filled-button widget.
*/

.hc-action-button.hc-ehealthi-filled-button {
    --highlight-color: var(--theme-color, white);
}

.hc-action-button.hc-ehealthi-filled-button>.container {
    background-color: transparent;
    border: 1px solid currentColor;
}

.hc-action-button.hc-ehealthi-filled-button.hoverAnimate>.container>.content {
    border-radius: inherit;
}


.hc-action-button.hc-ehealthi-filled-button.hoverAnimate>.container>.content::after {
    top: -0.375em;
    height: calc(100% + 0.75em);
    left: calc(-1.25em + 2px);
    border-radius: inherit;
    filter: brightness(90%);
    opacity: 0.75;
    background-color: var(--highlight-color);
}

.hc-action-button.hc-ehealthi-filled-button.hoverAnimate:hover>.container>.content::after {
    width: calc(100% + 2.5em - 2px);
}

.hc-action-button.hc-ehealthi-filled-button.hoverAnimate:hover>.container>.content>* {
    transition: 0.25s 0.25s;
}

.hc-action-button.hc-ehealthi-filled-button.hoverAnimate>.container>.content>* {
    position: relative;
    z-index: 1;
}