/*  
    Copyright 2023 HolyCorn Software
    The eHealthi Project
    The Faculty of Health
    This stylesheet controls the prescription messaging-extension, that allows a doctor to send a prescription as a message.
*/


.hc-ehealthi-health-commerce-compose-extension>.container {
    display: inline-flex;
    gap: 0.25em;
    align-items: center;
    font-size: 0.95em;
    text-align: center;
    border-radius: 1.25em;
    padding: 0.5em;
    background-color: #3eaff0;
    color: rgb(0, 0, 0);
    font-weight: 900;
    filter: brightness(107%);
}

.hc-ehealthi-health-commerce-compose-extension>.container>.image {
    width: 3em;
    height: 3em;
    position: relative;
}

.hc-ehealthi-health-prescription-chat-compose-extension-popup-content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.hc-ehealthi-health-prescription-chat-compose-extension-popup-content>.top>.title {
    font-size: 1.75em;
    font-family: bariolBold;
}

.hc-ehealthi-health-prescription-chat-compose-extension-popup-content .hc-ehealthi-health-prescription-input>.container>.patient-input {
    display: none;
}

