/*  
    Copyright 2024 HolyCorn Software
    The eHealthi Project
    This stylesheet is responsible for allowing a doctor view the parts of a lab result, that are text-based
*/

.hc-ehealthi-health-commerce-view-extension-results-view-text>.container {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    color: #41495f;
}

.hc-ehealthi-health-commerce-view-extension-results-view-text>.container>.title {
    font-size: 1.35em;
    font-weight: 600;
    color: #1c64a3;
}